.probe
.vscode
*-client.toml
*.idea*
*.lnk
*.pyc
/options.txt
/xaero/
$files/assets/
$files/contributions
$files/exports/
$files/mod_codebases
$files/notes
$files/python_scripts_FC2026/modpack_analysis/additional_mods/
$files/python_scripts_FC2026/modpack_analysis/fetched_mods/
$files/servers
brb.pins
command_history.txt
config/appleskin-client.toml
config/camerapture.client.json
config/controllable/selected_controllers.json
config/inventoryprofilesnext/1(slash)23/prev-villager-trading-config-v2.json
config/inventoryprofilesnext/1(slash)23/villager-trading-config-v2.json
config/inventoryprofilesnext/1(slash)5/1767672897509-BAD-villager-trading-config-v2.json
config/inventoryprofilesnext/1(slash)5/villager-trading-config-v2.json
config/inventoryprofilesnext/12(slash)30/villager-trading-config-v2.json
config/inventoryprofilesnext/FlatTest/prev-villager-trading-config-v2.json
config/inventoryprofilesnext/FlatTest/villager-trading-config-v2.json
config/inventoryprofilesnext/New World/prev-villager-trading-config-v2.json
config/inventoryprofilesnext/New World/villager-trading-config-v2.json
config/inventoryprofilesnext/Showcase/1770216870543-BAD-villager-trading-config-v2.json
config/inventoryprofilesnext/Showcase/prev-villager-trading-config-v2.json
config/inventoryprofilesnext/Showcase/villager-trading-config-v2.json
config/iris.properties
config/jade
config/jei
config/utilitix/client.json5
config/xaero/lib/client.cfg
configureddefaults/config/inventoryprofilesnext/Showcase/1770216870543-BAD-villager-trading-config-v2.json
configureddefaults/config/inventoryprofilesnext/Showcase/prev-villager-trading-config-v2.json
configureddefaults/config/inventoryprofilesnext/Showcase/villager-trading-config-v2.json
configureddefaults/config/iris.properties
controllable_natives
crash-reports
downloads
easy_npc
ESM/
fc2026.code-workspace
icon.png
kubejs/config
local
logs
saves
screenshots
servers.dat_old
shaderpacks/ComplementaryReimagined_r5.2.2.zip.txt
usercache.json
usernamecache.json
.mixin.out/class/noobanidus/mods/lootr/common/impl/LootrServiceRegistry.class
config/adorablehamsterpets/announcements.json
config/adorablehamsterpets/manifest.cache.json
patchouli_data.json
configureddefaults/config/adorablehamsterpets/announcements.json
configureddefaults/config/adorablehamsterpets/manifest.cache.json
config/fzzy_config/search.toml
